{% extends 'layout/base.html' %}

{% block content %}





















    <div class="container-footer">
      <div class="row" id="footer-nav">
        <div class="col-3">
          <h3>  Alquiler</h3><br>
          <p><a href="#"><i class="fa-solid fa-globe"></i>  India/ English</a><br></p>
          <p><a href="#"><i class="fa-solid fa-question"></i>  Help & Support</a></p>
          <p><a href="#"><i class="fa-brands fa-facebook"></i></a> <a href=""><i class="fa-brands fa-instagram"></i></a>  <a href="#"><i class="fa-brands fa-twitter"></i></a></p>
    
        </div>
        <div class="col-3">
          <h4>Alquiler</h4>
          <a href="#">Blog</a><br>
          <a href="#">Projects</a><br>
          <a href="#">Contests</a><br>
          <a href="#">Categories</a><br>
          <a href="#">Enterprie</a><br>
          <a href="#">Membership</a><br>
          <a href="#">Local Jobs</a><br>
          <a href="#">Get Verified</a><br>
        </div>
        <div class="col-3">
          <h4>About</h4>
          <a href="#">About us</a><br>
          <a href="#">How is works</a><br>
          <a href="#">Careers</a><br>
          <a href="#">Security</a><br>
          <a href="#">Sitemap</a><br>
          <a href="#">Stories</a><br>
          <a href="#">News</a><br>
        </div>
        <div class="col-3">
          <h4>Terms</h4>
          <a href="#">Privacy Policy</a><br>
          <a href="#">Terms and Conditions</a><br>
          <a href="#">Copyright Policy</a><br>
          <a href="#">Code of Conduct</a><br>
          <a href="#">Fees and Charges</a><br>
        </div>
        </div>
        </div>
{% endblock content %}
{% block css %}
<style>
    h1{
        margin: 15rem;
    }
    a{
        text-decoration: none;
        font-weight: 400;
        color: black;
      }
        #footer-nav{
          margin: 2rem;
          padding: 1rem;
          color: rgba(0, 0, 0, 0.855);
          
          
        }
        .container-footer{
          background-color:rgba(131, 221, 219, 0.91);
          height: 24rem;
          font-family: cursive;
          padding-top: 0.6rem;
          margin-top: 10rem;
          
        }
</style>
{% endblock css %}

{% block js %}  {% endblock js %}
