{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}

{% block content %}


<body id="third">
<div class="col-md-8" id="med">
                        
    <h3>Company Login 🥷</h3>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url 'company_register' %}" class="nav-link">Don't have an account, <b>Register Free!</b></a>

        {% bootstrap_button "Sign In" type="submit" %}
    </form>
</div>
</body>

{% endblock content %}
    

{% block css %} 

<style>

    #third{
        background: linear-gradient(120deg,#2980b9,#8e44ad);
        height: 100vh;
        overflow: hidden;

        margin: 0;
        padding: 0;  
    }
#med{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   background:white ;
   border-radius:10px ;

}

#med h3{
    margin-top: 1.6rem;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
#med form{
    padding: 0 40px;
    box-sizing: border-box;
    height: 22rem;
}
</style>
{% endblock css %}
    

{% block js %}{% endblock js %}